
<!-- Edit Form of [App].[Message] -->
<app-modal #modal
           [(Visible)]="modalVisible"
           (onSave)='onSave()'>
  <form #messageEditUI='ngForm'
        (ngSubmit)='onSave(currentInstance, messageEditUI)' 
        autocomplete='off'>
    <div class='form-margin'>
      <!-- UserProfile -->
      <div class='form-group'>
        <guide (onClick)='onGuid("UserProfile_Id")'></guide>
        <label for='userProfile' class='col-form-label'>UserProfile_Id : </label>
        <span class='help-block col-form-label' *ngIf='!userProfile_Id.valid && userProfile_Id.touched && !userProfile_Id.disabled'>{{ field_unvalid_message }}</span>
        
        <ng-select #userProfile_Id='ngModel'
                   #userProfile_IdSelect
                   name='userProfile_IdSelect'
                   [items]='userProfile_IdComponent.list | async'
                   bindLabel='descriptor'
                   [searchable]='false'
                   [(ngModel)]='currentInstance.userProfile_Id'>
          <ng-template ng-header-tmp
                       *ngIf='userProfile_IdComponent.filterable'>
            <input class='form-control'
                   *ngIf='userProfile_IdComponent.filterable'
                   type='text'
                   autofocus
                   #userProfile_IdSearchInput
                   (input)='userProfile_IdComponent.DoFilter(userProfile_IdSearchInput.value)'>
          </ng-template>
        </ng-select>
      </div> 
			<!-- Title -->
      <div class='form-group'>
        <guide (onClick)='onGuid("Title")'></guide>
        <label for='title' class='col-form-label'>Title : </label>
        <span class='help-block col-form-label' *ngIf='!title.valid && title.touched && !title.disabled'>{{ field_unvalid_message }}</span>
        <input type='text' 
                    title='System.Func`1[System.String]' 
                    [ngClass]="{ 'error' : !title.valid && title.touched }" 
                    class='form-control ' 
                    #title='ngModel' 
                    name='title' 
                    placeholder='... System.Func`1[System.String]' 
                    [(ngModel)]='currentInstance.title' 
                    [disabled]='IsLocked'
                    maxlength='100'  required  />
      </div> 
			<!-- Message -->
      <div class='form-group'>
        <guide (onClick)='onGuid("Message")'></guide>
        <label for='message' class='col-form-label'>Message : </label>
        <span class='help-block col-form-label' *ngIf='!message.valid && message.touched && !message.disabled'>{{ field_unvalid_message }}</span>
        <input type='text' 
                    title='System.Func`1[System.String]' 
                    [ngClass]="{ 'error' : !message.valid && message.touched }" 
                    class='form-control ' 
                    #message='ngModel' 
                    name='message' 
                    placeholder='... System.Func`1[System.String]' 
                    [(ngModel)]='currentInstance.message' 
                    [disabled]='IsLocked'
                    maxlength='2000'  required  />
      </div> 
			<!-- MessageType -->
      <div class='form-group'>
        <guide (onClick)='onGuid("MessageType_Id")'></guide>
        <label for='messageType' class='col-form-label'>MessageType_Id : </label>
        <span class='help-block col-form-label' *ngIf='!messageType_Id.valid && messageType_Id.touched && !messageType_Id.disabled'>{{ field_unvalid_message }}</span>
        
        <ng-select #messageType_Id='ngModel'
                   #messageType_IdSelect
                   name='messageType_IdSelect'
                   [items]='messageType_IdComponent.list | async'
                   bindLabel='descriptor'
                   [searchable]='false'
                   [(ngModel)]='currentInstance.messageType_Id'>
          <ng-template ng-header-tmp
                       *ngIf='messageType_IdComponent.filterable'>
            <input class='form-control'
                   *ngIf='messageType_IdComponent.filterable'
                   type='text'
                   autofocus
                   #messageType_IdSearchInput
                   (input)='messageType_IdComponent.DoFilter(messageType_IdSearchInput.value)'>
          </ng-template>
        </ng-select>
      </div> 
			<!-- SendDate -->
      <div class='form-group'>
        <guide (onClick)='onGuid("SendDate")'></guide>
        <label for='sendDate' class='col-form-label'>SendDate : </label>
        <span class='help-block col-form-label' *ngIf='!sendDate.valid && sendDate.touched && !sendDate.disabled'>{{ field_unvalid_message }}</span>
        <input type='date' 
                    title=System.Func`1[System.String] 
                    [ngClass]="{ 'error' : !sendDate.valid && sendDate.touched }" 
                    class='form-control' 
                    #sendDate='ngModel' 
                    name='sendDate'
                    [ngModel]="currentInstance.sendDate | date:'yyyy-MM-dd'"
                    (ngModelChange)='currentInstance.sendDate = $event'
                    [disabled]='IsLocked'
                     required >
      </div> 
			<!-- ViewDate -->
      <div class='form-group'>
        <guide (onClick)='onGuid("ViewDate")'></guide>
        <label for='viewDate' class='col-form-label'>ViewDate : </label>
        <span class='help-block col-form-label' *ngIf='!viewDate.valid && viewDate.touched && !viewDate.disabled'>{{ field_unvalid_message }}</span>
        <input type='date' 
                    title=System.Func`1[System.String] 
                    [ngClass]="{ 'error' : !viewDate.valid && viewDate.touched }" 
                    class='form-control' 
                    #viewDate='ngModel' 
                    name='viewDate'
                    [ngModel]="currentInstance.viewDate | date:'yyyy-MM-dd'"
                    (ngModelChange)='currentInstance.viewDate = $event'
                    [disabled]='IsLocked'
                     required >
      </div> 
			
    </div>
  </form>
</app-modal>

<app-message-edit #userProfileEditUI 
    (onClosed)='userProfileComponent.onClosed($event)'>
</app-message-edit>
<app-message-edit #messageTypeEditUI 
    (onClosed)='messageTypeComponent.onClosed($event)'>
</app-message-edit>