/* Version 01 */

.l-wrapper {
    border: 1px solid #dbe2ebf7;
    border-radius: 5px;
}

.lookup-wrapper {
    position: relative;
    /* border: #dadee5 1px solid; */
    /* 👈 required */
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

button:focus,
button:active,
button:focus:active {
    outline: none !important;
    box-shadow: none !important;
    background-color: white;
}

.btn {
    background-color: white;
    color: #28292c;
    border-radius: 2px;
}

.dropdown-toggle {
    width: 100%;
    text-align: left;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.dropdown-panel {
    position: absolute;
    top: 100%;
    min-height: 20px;
    max-height: 300px;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    z-index: 10000;
    color: #28292c;
}

.filter-input {
    width: 96.5%;
    font-size: 13px;
}

.dropdown-empty {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    color: #999;
}

.lookup-selected-item-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.selected-item-label {
    font-weight: 500;
}

.clear-button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #888;
    font-size: 1rem;
    padding: 0;
    line-height: 1;
}

.clear-button:hover {
    color: red;
}

.label {
    font-family: 'Samim', sans-serif;
    font-size: 14px;
    color: gray;
    margin-left: 15px;
    margin-right: 15px;
}

.me-auto {
    font-size: 13px;
}

.dropdown-list li:hover {
    background-color: #f0f0f0;
    /* Light gray or any color you prefer */
    cursor: pointer;
}

.lookup-item {
    padding: 6px 14px;
    border-bottom: 1px solid #eee;
    font-weight: 100;
    /* display: block;
    width: 100%;
    border: 0px;
    background-color: white;
    text-align: right; */
}



.lookup-item:hover {
    background-color: #cf5454 !important;
    color: white;
}

.lookup-item-hover {
    background-color: #cf5454 !important;
    color: white;
}

.lookup-item-selected {
    background-color: #f13d3d;
    color: white;
}

.btn:disabled {
    color: var(--cui-btn-disabled-color);
    pointer-events: none;
    background-color: var(--cui-btn-disabled-bg);
    /* border-color: var(--cui-btn-disabled-border-color); */
    opacity: 90%;
    border: none;
}

::ng-deep .p-dialog-content {
    overflow: visible !important;
}

::ng-deep .p-dialog {
    overflow: visible !important;
}