<div class="d-flex justify-content-between">
    <div>
        <button class="btn btn-outline-info mt-2 m-1"
                (click)="addButtonClick.emit()"
                *ngIf="addButtonVisibility">
            <!-- <i class="cil-medical-cross icon"></i> -->
            افزودن
        </button>
        <button class="btn btn-outline-secondary mt-2 m-1"
                (click)="editButtonClick.emit()"
                *ngIf="editButtonVisibility"
                [disabled]="currentInstance_Id === 0">
            <!-- <i class="cil-medical-cross icon"></i> -->
            ویرایش
        </button>
        <button class="btn btn-outline-warning mt-2 m-1"
                (click)="deleteButtonClick.emit()"
                *ngIf="deleteButtonVisibility"
                [disabled]="currentInstance_Id === 0">
            <!-- <i class="cil-medical-cross icon"></i> -->
            حذف
        </button>
    </div>
    <div>
        <button class="btn btn-outline-default mt-2 m-1 refresh-btn"
                (click)="refreshButtonClick.emit()"
                *ngIf="refreshButtonVisibility">
            <!-- <i class="cil-medical-cross icon"></i> -->
            بازیابی مجــدد
        </button>
    </div>
</div>