table {

    border: 1px solid #dee2e6;

    thead th {
        text-align: center;
        background-color: rgb(17 51 98 / 54%);
        color: rgb(0, 0, 0);
    }
}

.nav-tabs .nav-link.active {
    color: #fff;
    background-color: #f9b115 !important;
    border-color: var(--cui-nav-tabs-link-active-border-color) !important;
}

.card-body {
    min-height: 350px;
    ;
}