<p-dialog id="dialog"
          [header]="Header"
          [modal]="true"
          [(visible)]='visible'
          (onHide)='hide()'
          [closable]="true"
          [draggable]="false"
          [dismissableMask]="false"
          [resizable]="false"
          [closeOnEscape]='true'
          [style]="{ width: '50vw' }">
    <!-- (onHide)="hide();" -->

    <ng-template #header>
        <p-divider>
            <div class="inline-flex items-center justify-center gap-2">
                <!-- <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                shape="circle" /> -->
                <span class="font-bold whitespace-nowrap">{{ Header }}</span>

            </div>
        </p-divider>
    </ng-template>
    <!-- Body -->
    <ng-content class='body-content'>

    </ng-content>
    <p-divider />
    <!-- Action Buttons -->
    <ng-content select='[actions]'>

    </ng-content>
</p-dialog>